<footer class="site-footer">
  <div class="footer-sections" style="flex-direction: column; align-items: center;">
    <div class="footer-nav">
      <h3 class="section-heading section-heading--dark-bg">Navigation</h3>
      <div class="footer-buttons">
        {% unless page.url == '/' %}
          <a href="/">Home</a>
        {% endunless %}
        {% unless page.url == '/hobbies/' %}
          <a href="/hobbies/">Hobbies</a>
        {% endunless %}
        {% unless page.url == '/portfolio/' %}
          <a href="/portfolio/">Portfolio</a>
        {% endunless %}
        {% unless page.url == '/blog/' %}
          <a href="/blog/">Blog</a>
        {% endunless %}
      </div>
    </div>

    <div class="footer-refs">
      <h3 class="section-heading section-heading--dark-bg">Contact</h3>
      <div class="footer-buttons">
        <a href="mailto:blakestephenanderson@gmail.com">Email Me</a>
        <a href="https://www.linkedin.com/in/blakeanderson31/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
        <a href="https://bsky.app/profile/blakeanderson.bsky.social" target="_blank" rel="noopener noreferrer">Bluesky</a>
        <a href="/assets/files/BlakeAndersonResume.pdf" download>⇩ Download Resume</a>
      </div>
    </div>
  </div>
  <p>&copy; 2024 Blake Anderson. All rights reserved.</p>
</footer>
