<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/assets/images/logo.png">
  <!-- Include the CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>
<body id="top">
  {% include header.html %}

  <!-- Page Content -->
  <main>
    {{ content }}
  </main>

  <!-- Include the Footer -->
  {% include footer.html %}
</body>
</html>
