<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | Blake Anderson</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/assets/images/logo.png">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>
<body id="top" class="page-container">
  <header class="banner">
    {% if page.title == "Home" %}
      <div class="home-banner-content">
        <h1>Blake Anderson</h1>
        <h2>GIS Professional, Author</h2>
      </div>
    {% elsif page.layout == "post" %}
      {% if page.collection == "posts" %}
        <h1 class="banner-page-title">Blog</h1>
      {% elsif page.collection == "stories" %}
        <h1 class="banner-page-title">Short Stories</h1>
      {% else %}
        <!-- fallback if needed -->
        <h1 class="banner-page-title">{{ page.title }}</h1>
      {% endif %}
    {% else %}
      <a href="/" class="site-logo-link">
        <img src="/assets/images/logo_blackbkgnd.png" alt="Site Logo" class="site-logo">
      </a>
      <h1 class="banner-page-title">{{ page.title }}</h1>
    {% endif %}
  </header>

  <main>
    {{ content }}
  </main>

  {% include footer.html %}
</body>
</html>
