---
layout: default
---

<div class="banner">
  <h1>Short Stories</h1>
</div>

<main class="post-extent">
  <article class="post-content">
    <h2 class="post-title">{{ page.title }}</h2>
    {% if page.subtitle %}
    <h3 class="post-subtitle">{{ page.subtitle }}</h3>
    {% endif %}
    {% if page.header.image %}
    <div class="post-header-image">
      <img src="{{ page.header.image | relative_url }}" alt="{{ page.title }}">
      {% if page.header.caption %}
      <p class="post-image-caption">{{ page.header.caption }}</p>
      {% endif %}
    </div>
    {% endif %}

    {{ content }}
  </article>
</main>
